@model DBrms.Models.Food

@{
    ViewBag.Title = "MenuEdit";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}

<h2>Menu Edit</h2>
<link rel="stylesheet" href="~/Content/Login/dist/css/site.min.css">

<div class="container-fluid" style="font-size:13px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            <input type="hidden" id="FoodId" name="FoodId" value="@Model.FoodId" />
            <input type="hidden" id="RestaurantId" name="RestaurantId" value="@Model.RestaurantId" />
            <input type="hidden" id="Image" name="Image" value="@Model.Image" />




            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="text" name="Name" required value="@Model.Name" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <img src="@Model.Image" height="130" width="300" />

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="text" name="Price" required value="@Model.Price" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                 
                    <textarea class="form-control"  name="Details" required style="height:180px">

@Model.Details
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
