@model IEnumerable<DBrms.Models.FoodCart>

@{
    ViewBag.Title = "RestaurantOrderList";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}

<h2>RestaurantOrderList</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Food.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Food.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Food.Restaurant.Discount)
        </th>
        <th>
            Discounted @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cart.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cart.Details)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Food.Name)
        </td>
        <td>
            <img src="@item.Food.Image" height="100" width="200" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>

        <td>

            @Html.DisplayFor(model => item.Food.Restaurant.Discount) %
        </td>
        <td>
            <p>@(item.Price - (item.Price / 100) * Convert.ToInt32(item.Food.Restaurant.Discount) )</p>
        </td>
        <td>
            @((item.Price - (item.Price / 100) * Convert.ToInt32(item.Food.Restaurant.Discount) )*item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cart.Details)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.FoodCartId }) |
            @Html.ActionLink("Details", "Details", new { id = item.FoodCartId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.FoodCartId })
        </td>
    </tr>
}

</table>
