@model DBrms.Models.Magazine

@{
    ViewBag.Title = "MagazineEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Magazine Edit</h2>

<link rel="stylesheet" href="~/Content/Login/dist/css/site.min.css">

<div class="container-fluid" style="font-size:13px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />


            <input type="hidden" id="Image" name="Image" value="@Model.Image" />
            <input type="hidden" id="MagazineId" name="MagazineId" value="@Model.MagazineId" />

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="text" name="Name" required value="@Model.Name" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <img src="@Model.Image" height="150" width="250" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="text" name="Details" required value="@Model.Details" />
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>