@model DBrms.Models.Restaurant

@{
    ViewBag.Title = "ManageRestaurantEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Login/dist/css/site.min.css">
<h2>ManageRestaurantEdit</h2>
<div class="container-fluid" style="font-size:13px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Restaurant</h4>
            <hr />
           

            <input type="hidden" id="RestaurantId" name="RestaurantId" value="@Model.RestaurantId" />

            <input type="checkbox" id="IsActive" name="IsActive"  checked="@Model.IsActive"    style=" visibility:hidden"/>
            <input type="hidden" id="Picture" name="Picture" value="@Model.Picture" />


            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="text" name="Name" required value="@Model.Name"/>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="text" name="Address" required value="@Model.Address"/>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="text" name="Phone" pattern="\+?(88)?01[3456789][0-9]{8}\b" required value="@Model.Phone"/>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Picture, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <img src="@Model.Picture" height="150" width="250" />
                  
                        <p>
                            <b> Chose another Picture</b>

                        </p>
                 
                    <input type="hidden" id="ImageFile" name="ImageFile"  value="@Model.Picture"/>
                    <input type="file" id="ImageFile" name="ImageFile"  />
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.DropDownList("LocationId", null, "--Select One Location--", htmlAttributes: new { @class = "from-control" })

                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Cuisine, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="text" name="Cuisine" required  value="@Model.Cuisine"/>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CostPerOrder, "Cost Range", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="text" name="CostPerOrder" required value="@Model.CostPerOrder"/>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="text" name="Time" required value="@Model.Time"/>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PopularMenu, "Popular Menu", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="text" name="PopularMenu" required value="@Model.PopularMenu"/>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="text" name="Discount" required value="@Model.Discount"/>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Extra, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="text" name="Extra" required value="@Model.Extra"/>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="text" name="Username" required value="@Model.Username"/>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="password" name="Password" required value="@Model.Password"/>
                </div>
            </div>





            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
