@using PagedList;
@using PagedList.Mvc;
@model IPagedList<DBrms.Models.Customer>

@{
    ViewBag.Title = "ManageCustomer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Manage Customer</h2>

<p>
    @Html.ActionLink("Create New Customer", "CustomerAdd")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Phone)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    using (Html.BeginForm("CustomerDelete", "Admin", new { id = item.CustomerId }))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
           <img src="@item.Image" height="200" width="350"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "CustomerEdit", new { id = item.CustomerId }) |

            <input type="submit" value="Delete" onclick="return confirm('Are you sure? You want to delete Customer ** @item.Name ** ?')" />

        </td>
    </tr>
    }
}

</table>

@Html.PagedListPager(Model, page=> Url.Action("ManageCustomer", new { page }))