@using PagedList;
@using PagedList.Mvc;
@model IPagedList<DBrms.Models.FoodCart>

@{
    ViewBag.Title = "OrderListDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>OrderListDetails</h2>


<table class="table">
    <tr>
        <th style=" padding-left:80px; width:100px;">
            @Html.DisplayNameFor(model => model.First().Food.Name)
        </th>
        <th style="width:150px;">
            @Html.DisplayNameFor(model => model.First().Food.Image)
        </th>
        <th style="width:50px;">
            @Html.DisplayNameFor(model => model.First().Quantity)
        </th>
        <th style="width:60px;">
            @Html.DisplayNameFor(model => model.First().Price)
        </th>
        <th style="width:60px;">
            @Html.DisplayNameFor(model => model.First().Cart.Total)
        </th>
        <th style="width:100px;">
            @Html.DisplayNameFor(model => model.First().Food.Restaurant.Name)
        </th>
        <th style="width:150px;">
            @Html.DisplayNameFor(model => model.First().Food.Restaurant.Picture)
        </th>
        <th style="width:150px;">
            @Html.DisplayNameFor(model => model.First().Cart.Details)
        </th>

       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style=" padding-left:80px;">
                @Html.DisplayFor(modelItem => item.Food.Name)
            </td>
            <td>
                <img src="@item.Food.Image" height="60" width="120" />
            </td>

            <td>
                <center> @Html.DisplayFor(modelItem => item.Quantity)</center>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @(item.Price * item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food.Restaurant.Name)
            </td>
            <td>
                <img src="@item.Food.Restaurant.Picture" height="60" width="120" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cart.Details)
            </td>

            <td>
                @{
                    if (item.IsConfirm == null)
                    {
                        <form class="contact" name="contact" action="@Url.Action("OrderListDetails")" method="post">



                            <input type="hidden" id="FoodId" name="FoodId" value="@item.FoodId" />
                            <input type="hidden" id="FoodCartId" name="FoodCartId" value="@item.FoodCartId" />
                            <input type="hidden" id="CartId" name="CartId" value="@item.CartId" />

                            <input type="hidden" id="Price" name="Price" value="@item.Price" />
                            <input type="hidden" id="Quantity" name="Quantity" value="@item.Quantity" />
                            <input type="hidden" id="IsConfirm" name="IsConfirm" value="false" />
                            <input type="hidden" id="PaidAmount" name="PaidAmount" value="@item.PaidAmount" />
                            <button style="width:100px; font-size:15px; background-color:#4CAF50; border-radius:4px; height:40px; border-color:forestgreen ">
                                Cancel Order
                            </button>
                        </form>
                    }
                    if (item.IsConfirm == false )
                    {
                        <p>
                            <img src="~/Image/Reject.jpg" height="40" width="80" />
                        </p>
                    }
                    if (item.IsConfirm == true && item.PaidAmount == null)
                    {
                        <p>
                            <img src="~/Image/approve.jpg" height="40" width="80" />
                        </p>
                    }
                    if (item.IsConfirm == true && item.PaidAmount != null)
                    {
                        <p>
                            <img src="~/Image/Delivered.jpg" height="40" width="80" />
                        </p>
                    }
                }

            </td>
          
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("OrderListDetails", new { page }))