@using PagedList;
@using PagedList.Mvc;

@model IPagedList<DBrms.Models.Review>

@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Review</h2>


<table class="table">
    <tr>

        <th>
            Customer
            @Html.DisplayNameFor(model => model.First().Customer.Name)
        </th>
        <th>
            Customer 
            @Html.DisplayNameFor(model => model.First().Customer.Image)
        </th>
        <th style="padding-left:30px">
            Restaurant
            @Html.DisplayNameFor(model => model.First().Restaurant.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
          <img src="@item.Customer.Image" height="150" width="250"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurant.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ReviewId }) |

            @Html.ActionLink("Delete", "Delete", new { id = item.ReviewId })
        </td>
    </tr>
}

</table>

@Html.PagedListPager(Model, page=> Url.Action("Review", new { page } ) )