@using PagedList;
@using PagedList.Mvc;

@model IPagedList<DBrms.Models.Restaurant>

@{
    ViewBag.Title = "TradingRestaurant";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Trading Restaurant</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().LocationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src="@item.Picture" height="200" width="400" />
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Location.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "TradingRestaurantEdit", new { id = item.RestaurantId})

           
        </td>

    </tr>
}

</table>



@Html.PagedListPager(Model, page=> Url.Action("TradingRestaurant", new { page }))