
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Online Food Order and Review System</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Electro Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link href="~/Content/Website/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap css -->
    <link href="~/Content/Website/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Main css -->
    <link rel="stylesheet" href="~/Content/Website/css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <link href="~/Content/Website/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up-box -->
    <link href="~/Content/Website/css/menu.css" rel="stylesheet" type="text/css" media="all" />
    <!-- menu style -->
    <!-- //Custom-Files -->
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <!-- //web fonts -->

</head>

<body>
    <!-- top-header -->

    @{
        if (Session["UserId"] != null || Session["CustomerId"] != null || Session["RestaurantsId"]!=null)
        {
            <div class="agile-main-top">
                <div class="container-fluid">
                    <div class="row main-top-w3l py-2">
                        <div class="col-lg-4 header-most-top">
                            <p class="text-white text-lg-left text-center">

                            </p>
                        </div>
                    </div>
                </div>
            </div>

        }
        else
        {
            <div class="agile-main-top">
                <div class="container-fluid">
                    <div class="row main-top-w3l py-2">
                        <div class="col-lg-4 header-most-top">
                            <p class="text-white text-lg-left text-center">

                            </p>
                        </div>
                        <div class="col-lg-8 header-right mt-lg-0 mt-2">

                            <ul style="padding-left:200px">

                                <li class="text-center border-right text-white">
                                    <a href="~/Login/Index" style="color:white; ">
                                        <i class="fas fa-sign-in-alt mr-2"></i> Log In
                                    </a>
                                </li>

                                <li class="text-center text-white">
                                    <a href="~/Website/CustomerRegistration" style="color:white; ">
                                        <i class="fas fa-sign-out-alt mr-2"></i>Customer Register
                                    </a>
                                </li>
                                <li class="text-center text-white">
                                    <a href="~/Website/RestaurantRegistration" style="color:white; ">
                                        <i class="fas fa-sign-out-alt mr-2"></i>Restaurant Register
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        }
    }




    <!-- Button trigger modal(select-location) -->
    <!-- //shop locator (popup) -->
    <!-- modals -->
    <!-- log in -->
    <!-- register -->
    <!-- //modal -->
    <!-- //top-header -->
    <!-- header-bottom-->
    <div class="header-bot">
        <div class="container">
            <div class="row header-bot_inner_wthreeinfo_header_mid">
                <!-- logo -->
                <div class="col-md-3 logo_agile">
                    <h1>
                        <a href="~/Website/Index" class="font-weight-bold font-italic">
                            <img src="~/Content/Website/images/logo2.png" alt=" " class="img-fluid">OFORS
                        </a>
                    </h1>
                </div>
                <!-- //logo -->
                <!-- header-bot -->
                <div class="col-md-9 header mt-4 mb-md-0 mb-4">
                    <div class="row">
                        <!-- search -->
                        <div class="col-10 agileits_search">
                            @using (Html.BeginForm("Restaurants", "Website", FormMethod.Get))
                            {
                                <input type="search" placeholder="Find restaurant...." name="search" required>
                                <input type="submit" value="Submit" style="border:groove;">
                            }

                        </div>
                        <div class="row">
                            <a href="~/Website/Checkout">
                                <img src="~/Image/cart1.png" height="40px" ; width="40px; alt=" ">
                            </a>


                        </div>


                        <!-- //cart details -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- shop locator (popup) -->
    <!-- //header-bottom -->
    <!-- navigation -->
    <div class="navbar-inner">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="agileits-navi_search">
                    <form action="#" method="post"></form>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav ml-auto text-center mr-xl-5">

                        <li class="nav-item mr-lg-2 mb-lg-0 mb-2" >
                            <a class="nav-link">@Html.ActionLink("Home", "Index") | </a>
                        </li>
                        <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link">@Html.ActionLink("Restaurants", "Restaurants")  | </a>
                        </li>
                     
                        <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link">@Html.ActionLink("Magazine", "Magazine")  | </a>
                        </li>
                        <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link">@Html.ActionLink("About Us", "AboutUs")  | </a>
                        </li>

                        <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link">@Html.ActionLink("Contact Us", "ContactUs")  | </a>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
        <div>
            <ul>
                <li>

                </li>
            </ul>

        </div>        @RenderBody()
    </div>
    <!-- //navigation -->
    <!-- banner -->
    <!-- //banner -->
    <!-- top Products -->
    <!-- middle section -->
    <!-- footer -->
    <footer>

        <!-- footer third section -->
        <div class="w3l-middlefooter-sec">
            <div class="container py-md-5 py-sm-4 py-3">
                <div class="row footer-info w3-agileits-info">
                    <!-- footer categories -->
                    
                    <!-- //footer categories -->
                    <!-- quick links -->
                    <div class="col-md-3 col-sm-6 footer-grids mt-sm-0 mt-4">
                        <h3 class="text-white font-weight-bold mb-3">Quick Links</h3>
                        <ul>
                            <li class="mb-3">
                                @Html.ActionLink("About Us", "AboutUs")
                            </li>
                            <li class="mb-3">
                                @Html.ActionLink("Contact Us", "ContactUs")


                            </li>
                            <li class="mb-3">
                                <a href="">Help</a>
                            </li>
                            <li class="mb-3">
                                <a href="">Faqs</a>
                            </li>
                            <li class="mb-3">
                                <a href="">Terms of use</a>
                            </li>
                            <li>
                                <a href="">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 footer-grids mt-md-0 mt-4">
                        <h3 class="text-white font-weight-bold mb-3">Get in Touch</h3>
                        <ul>
                            <li class="mb-3">
                                <i class="fas fa-map-marker"></i> UTTARA DHAKA
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-mobile"></i> +8801679400711
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-phone"></i> 01679400711
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-envelope-open"></i>
                                <a href="https://www.gmail.com"> alamin.badhonn@gmail.com</a>
                            </li>
                           
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 footer-grids w3l-agileits mt-md-0 mt-4">
                        <!-- newsletter -->
                        <h3 class="text-white font-weight-bold mb-3">Newsletter</h3>
                        <p class="mb-3">Free Delivery on your first order!</p>
                        
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" name="email" required="">
                                <input type="submit" value="Go">
                            </div>
                       
                        <!-- //newsletter -->
                        <!-- social icons -->
                        <div class="footer-grids  w3l-socialmk mt-3">
                            <h3 class="text-white font-weight-bold mb-3">Follow Us on</h3>
                            <div class="social">
                                <ul>
                                    <li>
                                        <a class="icon fb" href="https://www.facebook.com">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon tw" href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon gp" href="#">
                                            <i class="fab fa-google-plus-g"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- //social icons -->
                    </div>
                </div>
                <!-- //quick links -->
            </div>
        </div>
        <!-- //footer third section -->
        <!-- footer fourth section -->
        <!-- //footer fourth section (text) -->
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copy-right py-3">
        <div class="container">
            <p class="text-center text-white">
                © 2019 All rights reserved | Design by
                <a href=""> BaDhOn.</a>
            </p>
        </div>
    </div>
    <!-- //copyright -->
    <!-- js-files -->
    <!-- jquery -->
    <script src="~/Content/Website/js/jquery-2.2.3.min.js"></script>
    <!-- //jquery -->
    <!-- nav smooth scroll -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //nav smooth scroll -->
    <!-- popup modal (for location)-->
    <script src="~/Content/Website/js/jquery.magnific-popup.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!-- //popup modal (for location)-->
    <!-- cart-js -->
    <script src="~/Content/Website/js/minicart.js"></script>
    <script>
        paypals.minicarts.render(); //use only unique class names other than paypals.minicarts.Also Replace same class name in css and minicart.min.js

        paypals.minicarts.cart.on('checkout', function (evt) {
            var items = this.items(),
                len = items.length,
                total = 0,
                i;

            // Count the number of each item in the cart
            for (i = 0; i < len; i++) {
                total += items[i].get('quantity');
            }

            if (total < 1) {
                alert('The minimum order quantity is 1. Please add more to your shopping cart before checking out');
                evt.preventDefault();
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- password-script -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- //password-script -->
    <!-- scroll seller -->
    <script src="~/Content/Website/js/scroll.js"></script>
    <!-- //scroll seller -->
    <!-- smoothscroll -->
    <script src="~/Content/Website/js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->
    <!-- start-smooth-scrolling -->
    <script src="~/Content/Website/js/move-top.js"></script>
    <script src="~/Content/Website/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- for bootstrap working -->
    <script src="~/Content/Website/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- //js-files -->
</body>

</html>