@using PagedList;
@using PagedList.Mvc;
@model IPagedList<DBrms.Models.Review>

@{
    ViewBag.Title = "CustomerReviewList";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>CustomerReviewList</h2>

<table class="table">
    <tr>
        <th>
            Customer @Html.DisplayNameFor(model => model.First().Customer.Name)
        </th>
        <th>
            Restaurant @Html.DisplayNameFor(model => model.First().Restaurant.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Restaurant.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.Name)
            </td>
            <td>
                <img src="@item.Restaurant.Picture" height="100" width="250" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReviewId }) |

                @Html.ActionLink("Delete", "Delete", new { id = item.ReviewId })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("CustomerReviewList", new { page }))