@model DBrms.Models.Customer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Edit</h2>
<link rel="stylesheet" href="~/Content/Login/dist/css/site.min.css">

<div class="container-fluid" style="font-size:13px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />

            <input type="hidden" id="CustomerId" name="CustomerId" value="@Model.CustomerId" />
            <input type="hidden" id="Image" name="Image" value="@Model.Image" />
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="text" name="Name" required value="@Model.Name" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="text" name="Address" required value="@Model.Address" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <img src="@Model.Image" height="150" width="250" />


                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="text" name="Phone" pattern="\+?(88)?01[3456789][0-9]{8}\b" required value="@Model.Phone" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="text" name="Username" required value="@Model.Username" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <input class="form-control" type="Password" name="Password" required value="@Model.Password" />
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Details")
</div>
