@model IEnumerable<DBrms.Models.Restaurant>

@{
    ViewBag.Title = "PriceRange";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}

<h2>PriceRange</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PopularMenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostPerOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuisine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodOrder.FoodOrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PopularMenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostPerOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuisine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Extra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodOrder.FoodOrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RestaurantId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RestaurantId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RestaurantId })
        </td>
    </tr>
}

</table>
