@using PagedList;
@using PagedList.Mvc;
@model IPagedList<DBrms.Models.Restaurant>

@{
    ViewBag.Title = "Restaurant";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}


<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Electro Store Ecommerce Category Bootstrap Responsive Web Template | Single Product 1 :: w3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Electro Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link href="~/Content/Website/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap css -->
    <link href="~/Content/Website/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Main css -->
    <link rel="~/Content/Website/stylesheet" href="css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <link href="~/Content/Website/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up-box -->
    <link href="~/Content/Website/css/menu.css" rel="stylesheet" type="text/css" media="all" />
    <!-- menu style -->
    <!-- //Custom-Files -->
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <!-- //web fonts -->

</head>

<body>
    <!-- top-header -->
    <!-- //navigation -->
    <!-- banner-2 -->
    <div class="page-head_agile_info_w3l">

    </div>
    <!-- //banner-2 -->
    <!-- page -->
    <div class="services-breadcrumb">
        <div class="agile_inner_breadcrumb">
            <div class="container">
                <ul class="w3_short">
                    <li>
                        <a href="~/Website/Index">Home</a>
                        <i>|</i>
                    </li>
                    <li>
                        <a href="~/Website/Restaurants">Restaurants</a>
                        <i>|</i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //page -->
    <!-- Single Page -->

    <div class="row">
        <div class="agileinfo-ads-display col-lg-9">
            <div class="container py-xl-4 py-lg-2">
                <!-- tittle heading -->
                <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">

                    <span>R</span>estaurents
                </h3>
                @if (Model.Count == 0)
                {
                    <center> <p style="color:red; font-size:20px;">No result found</p></center>
                }
                else
                {
                    <!-- //tittle heading -->
                    foreach (var item in Model)
                    {
                        <div class="row">
                            <div class="col-lg-5 col-md-8 single-right-left ">
                                <div class="grid images_3_of_2">
                                    <div class="flexslider">
                                        <img src="@item.Picture" height="250" width="400">

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-7 single-right-left simpleCart_shelfItem">
                                <h3 class="mb-3">
                                    <b><i><a href="~/website/RestaurantProfile/@item.RestaurantId">@item.Name</a></i></b>    <img src="~/Image/chef-restaurant-logo-publicdomainvectors.png" height="50" width="50" />

                                    <p><b> @Html.DisplayFor(modelItem => item.Location.Name)</b> - <img src="~/Image/Location.png" height="20" width="20" /></p>

                                    ---------------------
                                </h3>


                                <div>

                                    <table style="width:100%">


                                        <tr>
                                            <td class="far fa-hand-point-right mr-3"> | Popular Menu</td>
                                            <td>@item.PopularMenu</td>

                                        </tr>
                                        <tr>
                                            <td class="far fa-hand-point-right mr-2"> | Cuisine</td>
                                            <td>@item.Cuisine</td>

                                        </tr>
                                        <tr>
                                            <td class="far fa-hand-point-right mr-2"> | Cost Range</td>
                                            <td>@item.CostPerOrder</td>
                                        </tr>
                                        <tr>
                                            <td class="far fa-hand-point-right mr-2"> | Time</td>
                                            <td>@item.Time</td>
                                        </tr>
                                        <tr>
                                            <td class="far fa-hand-point-right mr-2"> |  Address</td>
                                            <td>@item.Address</td>
                                        </tr>
                                        <tr>
                                            <td class="far fa-hand-point-right mr-2"> |  Phone</td>
                                            <td>@item.Phone</td>
                                        </tr>
                                        <tr></tr>


                                    </table>
                                    <p class="my-sm-4 my-3">
                                        <i class="fas fa-retweet mr-3"></i>
                                        @Html.ActionLink("More", "RestaurantProfile", new { id = @item.RestaurantId }, null)
                                    </p>

                                </div>
                                <div class="product-single-w3l">
                                    <p class="my-3">


                                    </p>
                                </div>
                            </div>
                        </div>

                    }
                }
                <h5 style="padding-left:300px">  @Html.PagedListPager(Model, page => Url.Action("Restaurants", new { page }))</h5>

            </div>


        </div>
        <div class="col-lg-3 mt-lg-0 mt-4 p-lg-0">
            <div class="side-bar p-sm-4 p-3">
                <div class="search-hotel border-bottom py-2">
                    <h3 class="agileits-sear-head mb-3">Search Here..</h3>
                    @using (Html.BeginForm("Restaurants", "Website", FormMethod.Get))
                    {
                        <input type="search" placeholder="Find restaurant...." name="search">
                        <input type="submit" value=" ">


                        <p style="color:lightcoral">Chose option from below and click search</p>
                        <!-- price Range search -->
                        <!-- price Range search -->

                        <div class="range border-bottom py-2">
                            <h3 class="agileits-sear-head mb-3">Price Range</h3>
                            <div class="w3l-range">
                                <ul>
                                    <li>
                                        @Html.RadioButton("range", "100-199") 100-199 tk
                                    </li>
                                    <li class="my-1">
                                        @Html.RadioButton("range", "200-299") 200-299 tk

                                    </li>
                                    <li>
                                        @Html.RadioButton("range", "300-399") 300-399 tk
                                    </li>
                                    <li class="my-1">
                                        @Html.RadioButton("range", "400-499") 400-499 tk
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <!-- price Range search Finish-->
                        <!-- price Range search Finish-->
                        <!-- discounts -->
                        <!-- discounts -->
                        <div class="left-side border-bottom py-2">
                            <h3 class="agileits-sear-head mb-3">Restaurant Discounts</h3>
                            <ul>

                                <li>
                                    @Html.RadioButton("discount", "5") 5% Discount
                                </li>
                                <li>
                                    @Html.RadioButton("discount", "10") 10% Discount
                                </li>
                                <li>
                                    @Html.RadioButton("discount", "15") 15% Discount
                                </li>

                            </ul>
                        </div>


                    }
                </div>
                <!-- //----------------------------------discounts--------------------------- -->
                <!-- //----------------------------------discounts--------------------------- -->

                <h3 class="agileits-sear-head mb-3">Locations</h3>
                <div class="w3l-range">
                    <ul>
                        <li>

                            <img src="~/Image/Location.png" height="15" width="15" />
                            @Html.ActionLink("Uttara", "RestaurantsLocation", new { id = "Uttara" }, null)
                        </li>
                        <li class="my-1">
                            <img src="~/Image/Location.png" height="15" width="15" />   
                            @Html.ActionLink("Mirpur", "RestaurantsLocation", new { id = "Mirpur" }, null)
                        </li>
                        <li class="my-1">
                            <img src="~/Image/Location.png" height="15px" width="15px" />
                            @Html.ActionLink("Dhanmondi", "RestaurantsLocation", new { id = "Dhanmondi" }, null)
                        </li>
                        <li class="my-1">
                            <img src="~/Image/Location.png" height="15px" width="15px" />
                            @Html.ActionLink("300 Feet", "RestaurantsLocation", new { id = "300 Feet" }, null)
                        </li>
                        <li class="my-1">
                            <img src="~/Image/Location.png" height="15px" width="15px" />
                            @Html.ActionLink("Banani", "RestaurantsLocation", new { id = "Banani" }, null)
                        </li>
                        <li class="my-1">
                            <img src="~/Image/Location.png" height="15px" width="15px" />
                            @Html.ActionLink("Basundhara R area", "RestaurantsLocation", new { id = "Basundhara R area" }, null)
                        </li>
                        <li class="my-1">
                            <img src="~/Image/Location.png" height="15px" width="15px" />
                            @Html.ActionLink("Mohammad Pur", "RestaurantsLocation", new { id = "Mohammad Pur" }, null)
                        </li>
                        <li>
                            <img src="~/Image/Location.png" height="15px" width="15px" /> 
                            @Html.ActionLink("Gulsan-1", "RestaurantsLocation", new { id = "Gulsan-1" }, null)
                        </li>
                        <li class="my-1">
                            <img src="~/Image/Location.png" height="15px" width="15px" />
                            @Html.ActionLink("Gulsan-2", "RestaurantsLocation", new { id = "Gulsan-2" }, null)
                        </li>
                        <li class="my-1">
                            <img src="~/Image/Location.png" height="15px" width="15px" />
                            @Html.ActionLink("Jamuna Future Park", "RestaurantsLocation", new { id = "Jamuna Future Park" }, null)
                        </li>
                        <li class="my-1">
                            <img src="~/Image/Location.png" height="15px" width="15px" />
                            @Html.ActionLink("Basundhara City", "RestaurantsLocation", new { id = "Basundhara City" }, null)
                        </li>

                    </ul>
                </div>


                <!-- -----------------------------reviews-------------------------- -->
                <!-- -----------------------------reviews-------------------------- -->

              
                <!-- //reviews -->
                <!-- best seller -->
                <div class="f-grid py-2">
                    <h3 class="agileits-sear-head mb-3">Best Seller</h3>
                    <div class="box-scroll">
                        <div class="scroll">
                            <div class="row">
                                <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                    <img src="~/image/pizzahut.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                    <a href="">Pizza hut Restaurant</a>
                                    @*<a href="" class="price-mar mt-2">$12,990.00</a>*@
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                    <img src="~/Image/maxresdefault.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                    <a href="">Hungry Duck Restaurant</a>


                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                    <img src="~/image/pizzahut.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                    <a href="">Pizza hut Restaurant</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //best seller -->
            </div>
            <!-- //product right -->
        </div>
    </div>
    <!-- //Single Page -->
    <!-- js-files -->
    <!-- jquery -->
    <script src="~/Content/Website/js/jquery-2.2.3.min.js"></script>
    <!-- //jquery -->
    <!-- nav smooth scroll -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //nav smooth scroll -->
    <!-- popup modal (for location)-->
    <script src="~/Content/Website/js/jquery.magnific-popup.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!-- //popup modal (for location)-->
    <!-- cart-js -->
    <script src="~/Content/Website/js/minicart.js"></script>
    <script>
        paypals.minicarts.render(); //use only unique class names other than paypals.minicarts.Also Replace same class name in css and minicart.min.js

        paypals.minicarts.cart.on('checkout', function (evt) {
            var items = this.items(),
                len = items.length,
                total = 0,
                i;

            // Count the number of each item in the cart
            for (i = 0; i < len; i++) {
                total += items[i].get('quantity');
            }

            if (total < 3) {
                alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
                evt.preventDefault();
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- password-script -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- //password-script -->
    <!-- imagezoom -->
    <script src="~/Content/Website/js/imagezoom.js"></script>
    <!-- //imagezoom -->
    <!-- flexslider -->
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

    <script src="~/Content/Website/js/jquery.flexslider.js"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <!-- //FlexSlider-->
    <!-- smoothscroll -->
    <script src="~/Content/Website/js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->
    <!-- start-smooth-scrolling -->
    <script src="~/Content/Website/js/move-top.js"></script>
    <script src="~/Content/Website/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- for bootstrap working -->
    <script src="~/Content/Website/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- //js-files -->

</body>

</html>
