@model DBrms.Models.Restaurant

@{
    ViewBag.Title = "Restaurants";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}


<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Electro Store Ecommerce Category Bootstrap Responsive Web Template | Single Product 1 :: w3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Electro Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link href="~/Content/Website/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap css -->
    <link href="~/Content/Website/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Main css -->
    <link rel="~/Content/Website/stylesheet" href="css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <link href="~/Content/Website/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up-box -->
    <link href="~/Content/Website/css/menu.css" rel="stylesheet" type="text/css" media="all" />
    <!-- menu style -->
    <!-- //Custom-Files -->
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <!-- //web fonts -->

</head>

<body>
    <!-- top-header -->
    <!-- //navigation -->
    <!-- banner-2 -->
    <div class="page-head_agile_info_w3l">

    </div>
    <!-- //banner-2 -->
    <!-- page -->
    <div class="services-breadcrumb">
        <div class="agile_inner_breadcrumb">
            <div class="container">
                <ul class="w3_short">
                    <li>
                        <a href="~/Website/Index">Home</a>
                        <i>|</i>
                    </li>
                    <li>
                        <a href="~/Website/Restaurants">Restaurants</a>
                        <i>|</i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //page -->
    <!-- Single Page -->
    <div class="banner-bootom-w3-agileits py-5">
        <div class="container py-xl-4 py-lg-2">
            <!-- tittle heading -->
            <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">

                <span>R</span>estaurents
            </h3>
            <!-- //tittle heading -->
            @foreach (var item in ViewBag.Restaurants)
            {
                <div class="row">
                    <div class="col-lg-5 col-md-8 single-right-left ">
                        <div class="grid images_3_of_2">
                            <div class="flexslider">
                                <img src="@item.Picture" height="250" width="400">

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 single-right-left simpleCart_shelfItem">
                        <h3 class="mb-3">
                            <b><i>@item.Name</i></b>    <img src="~/Image/chef-restaurant-logo-publicdomainvectors.png" height="50" width="50" />

                            <p><b>@item.Location</b> - <img src="~/Image/Location.png" height="20" width="20" /></p>

                        </h3>


                        <div class="product-single-w3l">
                            <p class="my-3">
                                <i class="far fa-hand-point-right mr-2"></i>

                            </p>
                            <table style="width:50%">


                                <tr>
                                    <td class="far fa-hand-point-right mr-2"> | Popular Menu</td>
                                    <td>@item.PopularMenu</td>

                                </tr>
                                <tr>
                                    <td class="far fa-hand-point-right mr-2"> | Cuisine</td>
                                    <td>@item.Cuisine</td>

                                </tr>
                                <tr>
                                    <td class="far fa-hand-point-right mr-2"> | Cost Range</td>
                                    <td>@item.CostPerOrder</td>
                                </tr>
                                <tr>
                                    <td class="far fa-hand-point-right mr-2"> | Time</td>
                                    <td>@item.Time</td>
                                </tr>
                                <tr>
                                    <td class="far fa-hand-point-right mr-2"> |  Address</td>
                                    <td>@item.Address</td>
                                </tr>
                                <tr>
                                    <td class="far fa-hand-point-right mr-2"> |  Phone</td>
                                    <td>@item.Phone</td>
                                </tr>
                                <tr></tr>


                            </table>
                            <p class="my-sm-4 my-3">
                                <i class="fas fa-retweet mr-3"></i>
                                @Html.ActionLink("More", "RestaurantProfile", new { id = @item.RestaurantId }, null)
                            </p>

                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
    <!-- //Single Page -->
    
 
   
    <!-- js-files -->
    <!-- jquery -->
    <script src="~/Content/Website/js/jquery-2.2.3.min.js"></script>
    <!-- //jquery -->
    <!-- nav smooth scroll -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //nav smooth scroll -->
    <!-- popup modal (for location)-->
    <script src="~/Content/Website/js/jquery.magnific-popup.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!-- //popup modal (for location)-->
    <!-- cart-js -->
    <script src="~/Content/Website/js/minicart.js"></script>
    <script>
        paypals.minicarts.render(); //use only unique class names other than paypals.minicarts.Also Replace same class name in css and minicart.min.js

        paypals.minicarts.cart.on('checkout', function (evt) {
            var items = this.items(),
                len = items.length,
                total = 0,
                i;

            // Count the number of each item in the cart
            for (i = 0; i < len; i++) {
                total += items[i].get('quantity');
            }

            if (total < 3) {
                alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
                evt.preventDefault();
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- password-script -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- //password-script -->
    <!-- imagezoom -->
    <script src="~/Content/Website/js/imagezoom.js"></script>
    <!-- //imagezoom -->
    <!-- flexslider -->
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

    <script src="~/Content/Website/js/jquery.flexslider.js"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <!-- //FlexSlider-->
    <!-- smoothscroll -->
    <script src="~/Content/Website/js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->
    <!-- start-smooth-scrolling -->
    <script src="~/Content/Website/js/move-top.js"></script>
    <script src="~/Content/Website/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- for bootstrap working -->
    <script src="~/Content/Website/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- //js-files -->

</body>

</html>
