@model DBrms.Models.Restaurant

@{
    ViewBag.Title = "RestaurantProfile";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="~/Website/Index">Home</a>
                    <i>|</i>
                </li>
                <li>
                    <a href="~/Website/Restaurants">Restaurants</a>
                    <i>|</i>
                </li>
                <li>
                    <a>@Model.Name</a>

                </li>
            </ul>
        </div>
    </div>
</div>
<center>

    <p><font size="7" color="#7f6018"><img src="~/Image/chef-restaurant-logo-publicdomainvectors.png" height="50" width="50" /> <b><i> @Model.Name </i></b></font></p>
</center>


<div>


</div>


<div style="margin-left: 100px; ">
    <a>
        <img src="@Model.Picture" align="middle" height="350" width="600" />


    </a>
    <p>
        <font size="5" color="#7f6018">
            <img src="~/Image/chef-restaurant-logo-publicdomainvectors.png" height="30" width="30" />
            <b><i> @Model.Name </i></b>
        </font>
    </p>
</div>




<div class="w3-bar w3-black" style="width: 596px; margin-left: 380px; background-color:cadetblue !important;">

    <button class="w3-bar-item w3-button" onclick="openCity('Overview')"> Restaurant Overview </button>
    <button class="w3-bar-item w3-button" onclick="openCity('Menu')"> Food Item in Restaurant </button>
    <button class="w3-bar-item w3-button" onclick="openCity('RestaurantReview')"> Review of Restaurant </button>
    @*<button class="w3-bar-item w3-button" onclick="openCity('FoodReview')"> Review of Food Item  </button>*@

</div>


<div id="Overview" class="w3-container city">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 10px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <!-- Overview navigation bar-->

    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
        <h3 class="heading-tittle text-center font-italic">Restaurant Overview</h3>

        <div class="row" style="padding-left:200px;">

            <table>

                <tr>
                    <td> @Html.DisplayNameFor(model => model.Address)</td>
                    <td> @Html.DisplayFor(model => model.Address)</td>

                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Phone)</td>
                    <td> @Html.DisplayFor(model => model.Phone)</td>

                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Location)</td>
                    <td> @Html.DisplayFor(model => model.Location.Name)</td>

                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.PopularMenu)</td>
                    <td> @Html.DisplayFor(model => model.PopularMenu)</td>

                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.CostPerOrder) </td>
                    <td> @Html.DisplayFor(model => model.CostPerOrder) Taka </td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Time)</td>
                    <td> @Html.DisplayFor(model => model.Time)</td>

                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Cuisine)</td>
                    <td> @Html.DisplayFor(model => model.Cuisine)</td>
                </tr>

                <tr>
                    <td> @Html.DisplayNameFor(model => model.Extra)</td>
                    <td> @Html.DisplayFor(model => model.Extra)</td>
                </tr>

                <tr>
                    <td> @Html.DisplayNameFor(model => model.Discount)</td>
                    <td> @Html.DisplayFor(model => model.Discount)</td>
                </tr>


            </table>

        </div>

    </div>
</div>
<!-- Menu navigation bar-->


<div id="Menu" class="w3-container city" style="display:none">
    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
        <h3 class="heading-tittle text-center font-italic">Menu List</h3>
        <div class="row">


            @foreach (var item in ViewBag.Foods)
            {
                <div class="col-md-4 product-men mt-5">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item text-center">
                            <img src="@item.Image" height="150" width="200">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">

                                    <a href="~/Website/FoodSingle/@item.FoodId" class="link-product-add-cart"> Quick View</a>
                                </div>
                            </div>


                        </div>
                        <div class="item-info-product text-center border-top mt-4">
                            <h4 class="pt-1">
                                <a style="font-size:30px;" href="~/Website/FoodSingle/@item.FoodId">@item.Name</a>
                            </h4>
                            <div class="info-product-price my-2">
                                <span class="item_price">Taka @item.Price </span>

                            </div>
                            <div class="info-product-price my-2">
                                <span> User Ratings: 4.5 </span>

                            </div>

                            <form action="@Url.Action("Checkout","Website")" method="post">
                                <input type="hidden" id="" name="" value="@item.FoodId"/>
                                <input style="background-color:dodgerblue; height:40px; width:200px; " type="submit" name="submit" value="Add to cart" />

                            </form>

                            @*<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                    <form action="#" method="post">
                                        <fieldset>
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="add" value="1" />
                                            <input type="hidden" name="business" value=" " />
                                            <input type="hidden" name="item_name" value="@item.Name" />
                                            <input type="hidden" name="amount" value="@item.Price" />
                                            <input type="hidden" name="discount_amount" value="0.00" />
                                            <input type="hidden" name="currency_code" value="USD" />
                                            <input type="hidden" name="return" value=" " />
                                            <input type="hidden" name="cancel_return" value=" " />
                                            <input type="submit" name="submit" value="Add to cart" class="button btn" />
                                        </fieldset>
                                    </form>
                                </div>*@
                        </div>
                    </div>
                </div>

            }


        </div>
    </div>
</div>

<!-- Restaurant Review navigation bar-->

<div id="RestaurantReview" class="w3-container city" style="display:none">
    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
        <h3 class="heading-tittle text-center font-italic">Reviews of Restaurants</h3>
        <div class="row" style="width:90%; padding-left:150px ">
            @foreach (var item in ViewBag.Reviews)
            {
                <div>
                    <div style="padding-left:50px; position:center;">


                        <img src="~/Image/images.png" height="30" width="30" />
                        <a style="font-size:30px"> @item.Customer.Name </a>

                    </div>
                    <div style="padding-left:100px">


                        <p style="color:darkgreen; font-size:20px;"> @item.Description</p>
                        <div>
                            ----------------------------------------------------------------------------------------------------------------------------------
                        </div>
                    </div>
                </div>



            }

        </div>
    </div>
</div>

<!-- Food Review navigation bar-->
@*<div id="FoodReview" class="w3-container city" style="display:none">
        <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
            <h3 class="heading-tittle text-center font-italic">Reviews of Food Items</h3>
            <div class="row">
            </div>
        </div>
    </div>*@

<!-- For get Restaurants rating from users-->
<div style="width:95%; padding-left:100px;  ">
    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">

        <div>
            <div>
                <h3>
                    <b>
                        <i>
                            Give your review
                        </i>
                    </b>
                </h3>
              
                @using (Html.BeginForm("RestaurantProfile", "Website", FormMethod.Post))
                {
                    <input type="hidden" id="RestaurantId" name="RestaurantId" value="@Model.RestaurantId" />
                   
                        
                   
                    <input type="text" style="width:80%; height:100px; background-color:lightgray" name="Description" class="form-control" placeholder="Write your opinion" required> 

                    <input style="background-color:lightgreen; shape-outside:padding-box" type="submit" value="post" />

                }
            </div>

            <div>
                <h3><b><i> Your Ratings for Restaurants or some text from restaurant owner(restaurant overview from owner) </i></b></h3>
            </div>

        </div>
    </div>
</div>








<script>
    function openCity(cityName) {
        var i;
        var x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(cityName).style.display = "block";
    }
</script>






